# Gradle files
.gradle/
build/
**/build/
!gradle-wrapper.jar

# Local configuration file (sdk path, keystore, etc)
local.properties

# Log files
*.log

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/

# Kotlin
*.kotlin_module

# Misc
.DS_Store
